Django==5.2.6
gunicorn==21.2.0
whitenoise==6.11.0
PyMySQL==1.1.2
celery==5.5.3
redis==6.4.0
django-celery-beat==2.8.1
django-celery-results==2.6.0
requests==2.32.4
beautifulsoup4==4.13.4
openpyxl==3.1.5
pandas==2.3.1
python-dotenv==1.1.1
sqlparse==0.5.3